.container {
  display: flex;
  align-items: flex-end;
}

.search {
  flex: 1;
}

.container > li {
  flex: 1;
}

.content {
  display: grid;
  grid-template-rows: 10% 50% 30% 10%;
  gap: 100px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
